body{
    margin: 0;
    width: 100vw;
}
.field{
    width: 100vw;
    height: 100vw;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.cell{
    position: relative;
    background: #aaa;
    float:left;
    width: 30%;
    margin: 1.66%;
    padding-top: 30%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 80%;
    width: 80%;
    margin: 10%;
    font-family: sans-serif;
    font-size: 30vw;
    overflow: hidden;
}
.sidePlayer{    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    
    font-size: 60px;
}
#redPlayer{    
    border: 1px solid red;
}
#bluePlayer{
    border: 1px solid blue;
    bottom: 0;
}
@media (orientation: landscape){
    .field{
        width: 100vh;
        height: 100vh;
    }
    .content{
        font-size: 30vh;
    }
    .sidePlayer{
        width: 80px;
        height: 100vh;
    }
    #redPlayer{
    }
    #bluePlayer{
        right: 0;
    }
}