body{
    margin: 0;
    width: 100vw;
    cursor: default;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.fieldGhost{ 
    /*fieldGhost is here just to get rid of side whitespaces on almost square screens.
    It occupies the same space as field but with height or width restraints only depending on orientation.*/
    width: 100vw;
    height: 100vw;
    
    max-height: calc(100vh - 120px);
    max-height: -moz-calc(100vh - 120px);
    max-height: -webkit-calc(100vh - 120px);
    max-height: -o-calc(100vh - 120px);
    
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    background: linear-gradient(0deg, #69baef, #ef6969);
}
.field{
    width: 100vw;
    height: 100vw;
    
    max-width: -moz-calc(100vh - 120px);
    max-width: -webkit-calc(100vh - 120px);
    max-width: -o-calc(100vh - 120px);
    max-width: calc(100vh - 120px);
    
    max-height: -moz-calc(100vh - 120px);
    max-height: -webkit-calc(100vh - 120px);
    max-height: -o-calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;    
    overflow: hidden;
}
.cell{
    position: relative;
    background: #eee;
    border-radius: 5px;
    float:left;
    width: 30%;
    margin: 1.66%;
    padding-top: 30%;
    
}
.activeCell:hover{
    transform:translateY(-2px);
    box-shadow: 0px 0px 5px 0px #ccc;
}
.activeCell:active{
    transform: translateY(2px);
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 80%;
    width: 80%;
    margin: 10%;
    font-family: sans-serif;
}
.sidePlayer{    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    font-size: 60px;
    min-height: 60px;
    
    height: -moz-calc((100vh - 100vw)/2);
    height: -webkit-calc((100vh - 100vw)/2);
    height: -o-calc((100vh - 100vw)/2);
    height: calc((100vh - 100vw)/2);
}
.redSide{    
    background-color: #ef6969;
}
.blueSide{
    background-color: #69baef;
    bottom: 0;
}
.redPlayerActive{
    box-shadow: 0px 30px 20px -15px red inset;
}
.bluePlayerActive{
    box-shadow: 0px -30px 20px -15px blue inset;
}
.redPlayer{
    color: #ef6969;
}
.bluePlayer{
    color: #69baef;
}
@media (orientation: landscape){
    .fieldGhost{
        width: 100vh;
        height: 100vh;
        
        max-width: -moz-calc(100vw - 120px);
        max-width: -webkit-calc(100vw - 120px);
        max-width: -o-calc(100vw - 120px);
        max-width: calc(100vw - 120px);
        
        max-height: none;
        background: linear-gradient(270deg, #69baef, #ef6969);
    }
    .field{
        width: 100vh;
        height: 100vh;        
        max-width: calc(100vw - 120px);
        max-height: calc(100vw - 120px);
    }
    .sidePlayer{
        height: 100vh;
        
        width: -moz-calc((100vw - 100vh)/2);
        width: -webkit-calc((100vw - 100vh)/2);
        width: -o-calc((100vw - 100vh)/2);
        width: calc((100vw - 100vh)/2);
        
        min-width: 60px;
    }
    .redPlayerActive{
        box-shadow: 30px 0px 20px -15px red inset;
    }
    .bluePlayerActive{
        box-shadow: -30px 0px 20px -15px blue inset;
    }
    .blueSide{
        right: 0;
    }
}